@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

#nav {
  background-color: #343a40;
  font-weight: bolder;
  height: 80px;
  position: fixed;
  text-align: left;
  top: 0;
  width: 100%;
}

#nav_mobile { display: none; }
#nav__menu { padding-top: 25px; }

.nav__menu__ada {
  font-weight: 800;
  padding-left: 250px;
}

.nav__menu__btn {
  font-weight: 400;
  padding-top: 25px;
  position: absolute;
  top: 0;
}

.menu__contact { right: 80px; }
.menu__about { right: 240px; }
.menu__portfolio { right: 360px; }
.menu__menu { display: none; }

.menu__portfolio,
.menu__about,
.menu__contact {
  display: inline-block;
}

a,
a:visited {
  color: #ffffff;
  text-decoration: none;
}

#main {
  background-color: #1abc9c;
  padding-bottom: 100px;
  padding-top: 150px;
  text-align: center;
}

img { width: 100%; }

.main__title { font-size: 63px; }
.main__avatar { width: 15%; }
.main__subtitle { font-size: 18px; }

#portfolio {
  margin-bottom: 50px;
  padding-bottom: 50px;
  padding-top: 20px;
  text-align: center;
}

#portfolio { color: #000000; }

.portfolio__cabin,
.portfolio__cake,
.portfolio__circus,
.portfolio__game,
.portfolio__safe,
.portfolio__submarine {
  display: inline-block;
  margin-right: 20px;
  margin-top: 30px;
  width: 200px;
}

.portfolio__title { padding-top: 15px; }

.portfolio__title,
.about__title,
.contact__title {
  font-weight: 900;
}

.portfolio__guion,
.contact__guion {
  border-bottom: 2px solid #000000;
}

.portfolio__guion,
.about__guion,
.contact__guion {
  margin: 0 auto;
  margin-bottom: 40px;
  padding-bottom: 10px;
  width: 70px;
}

#about {
  background-color: #1abc9c;
  height: 300px;
  margin-bottom: 20px;
  padding-bottom: 40px;
  text-align: center;
  width: 100%;
}

.about__guion { border-bottom: 2px solid #ffffff; }

.about__text_1,
.about__text_2 {
  text-align: left;
  width: 25%;
  display: inline-block;
}

.about__text_2 { vertical-align: top; }

.about__title,
.contact__title {
  padding-top: 50px;
}

#contact {
  color: #000000;
  margin-bottom: 40px;
}

.contact__header {
  margin-bottom: 55px;
  text-align: center;
}

.contact__guion { border-bottom: 2px solid #000000; }

.contact__form {
  margin: 0 auto;
  width: 500px;
}

form > input[type="text"],
input[type="email"],
textarea {
  border: none;
  border-bottom: 1px solid #e8e8e8;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
  padding-bottom: 25px;
  width: 500px;
}

input[type="text"],
input[type="email"],
textarea::placeholder {
  font-weight: 800;
}

.btn__green {
  background-color: #53bd9d;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
}

input[type="submit"]:hover { background-color: #328269; }

@media (max-width: 600px){
  .menu__portfolio,
  .menu__about,
  .menu__contact {
    display: none;
  }

  .menu__menu{
    display: block;
    background-color: #328269;
    color: #ffffff;
    right: 10px;
    top: 10px;
  }

  .about__text_1, .about__text_2{
    width: 45%;
    font-size: 13px;
  }

  form{
    width: 80%;
    margin: 0 auto;
  }
}